
# sudo nano /etc/systemd/system/set-cpufreq.service

[Unit]
Description=Set CPU governor to performance
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/set-cpufreq.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
